body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}
.menu-item {
      position: relative;
      display: block;
      padding: 15px 15px
}
.white-text {
    color: #fff;
}
.gray-text {
    color: #999
}

.twatt-container {
    border-corner-shape: curve;
    margin: 20px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    background-color: #f0f8ff;
    border: 1px solid #d0d8dd;
}
.twatt-content-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12pt;
    margin-bottom: 15px;
}
.twatt-poster {
    margin: 0;
    padding: 0;
}