@using Twatter.Application.Models
@using Twatter.Models
@{
    ViewBag.Title = "Home Page";
}
@model Twatter.Application.Models.TwattModel 
@if (Request.IsAuthenticated)
{

    <div class="row">
        <div>
            @{
                Html.Editor("_TwattEdit");
            }
        </div>
        <div class="col-md-8 col-md-offset-2">
            @foreach (var twatt in Model.ViewModel.Twatts)
            {
                <div>
                    <span class="text-primary">@Html.ActionLink(twatt.Poster.FirstName + twatt.Poster.LastName, "Index", "User", routeValues: new { UserName = twatt.Poster.UserName }, htmlAttributes: null) </span> <span class="text-muted">@@@twatt.Poster.UserName</span>
                </div>
                <hr />
                <div class="row">
                    <span class="twatt-content text-center"> @twatt.Content</span>
                </div>
                <div class="actions btn-group">
                    <button class="btn btn-default"> <span class="glyphicon glyphicon-retweet"></span></button>
                    <button class="btn btn-default"> <span class="glyphicon favourite glyphicon-star-empty"></span></button>
                    <button class="btn btn-default"> <span class="glyphicon reply glyphicon-share-alt"></span></button>
                    <button class="btn btn-default"> <span class="glyphicon share glyphicon-share" data-togle="dropdown" aria-expanded="false"></span></button>
                </div>
            }
        </div>
    </div>

}