@model Twatter.Application.Models.TwattPostModel
<div class="col-md-10 col-md-offset-1 form-group">
    <fieldset>
        @if (Model.IsReply != null)
        {
            if ((bool)Model.IsReply)
            {
                <h4>Reply!</h4>
            }
        }
        else
        {
            <h4>Post a new Twatt!</h4>
        }
        @using (Html.BeginForm("Create", "Twatt", FormMethod.Post, new {@role = "form", @class = "TwattForm"}))
        {
            @Html.TextAreaFor(tm => tm.Text, new
            {
                @class = "form-control",
                @rows = "5",
                @cols = "60",
                @placeholder = "Share something ..."
            })
            @Html.HiddenFor(tm => tm.TwattId, new
            {
                @value = 0
            })
            @Html.HiddenFor(tm => tm.IsReply, new
            {
                @value = false
            })
            <br/>
            <div class="pull-right ">
                <button type="submit" class="btn btn-primary" value="Ok">Twatt!</button>
            </div>
        }
    </fieldset>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
